/*div {
  border: 1px solid red;
}*/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #066677;
}

h1 {
  font-size: 60px;
  margin: 0px;
  padding-left: 10px;
  font-weight: 200;
}

h2 {
  font-size: 25px;
  margin: 0px;
  padding: 4px 10px 0px;
  font-weight: 200;
}

hr {
  margin: 5px 0px;
  height: 2px;
  border: none;
  background-color: #b1c2c5;
}

.title-margin-top {
  margin-top: 20px;
}
