/*div {
  border: 1px solid red;
}*/

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #066677;
  padding-bottom: 20px;
}

h1 {
  font-size: 60px;
  margin: 0px;
  padding-left: 10px;
  font-weight: 200;
}

h2 {
  font-size: 25px;
  margin: 0px;
  padding: 4px 10px 0px;
  font-weight: 200;
}

hr {
  margin: 0px;
  margin-top: 5px;
  height: 2px;
  border: none;
  background-color: #b1c2c5;
}

.title-margin-top {
  margin-top: 20px;
}

.project-thumbnail {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  position: relative;
}

.project-thumbnail:hover {
  cursor: pointer;
}

.project-thumbnail-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.project-thumbnail-label {
  color: black;
  visibility: hidden;
  /*text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;*/
  text-align: center;
  width: 300px;
  max-width: 75%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.project-thumbnail:hover .project-thumbnail-image {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  opacity: .5;
}

.project-thumbnail:hover .project-thumbnail-label {
  visibility: visible;
}

#grammy-band-image {
  background-image: url("../images/grammyband.jpg");
}

#agricopter-image {
  background-image: url("../images/drone.jpg");
}

#doodlemash-image {
  background-image: url("../images/doodlemash.jpg");
}

#hampton-image {
  background-image: url("../images/hampton.jpg");
}
